@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../assets/fonts/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: Doto;
  src: url("../../assets/fonts/Doto-Regular.ttf");
}

@import "tailwindcss";

@theme {
  --font-Inter: Inter, "sans-serif";
}

@custom-variant dark (&:where(.dark, .dark *));

* {
  @apply transition-colors duration-700;
}
